<header><!-- ínicio header -->
      <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <div class="container">
          <a href="index.html" class="navbar-brand">
            <h3 class="text-white">Dr@. Juliana</h3>
          </a>
        </div>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <i class="fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse" id="nav-principal">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Home", root_path %>
            </li>
            <li class="nav-item">
              <%= link_to "Sobre", "#servicos" %>
            </li>
            <li class="nav-item">
              <%= link_to "Serviços", "#servicos" %>
            </li>
            <li class="nav-item">
              <%= link_to "Regiões", "#servicos" %>
            </li>
            <li class="nav-item divisor"></li>
            <li class="nav-item">
              <%= link_to "Registre-se", new_user_registration_path %>
            </li>
            <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path %>
              </a>
            </li>
          </ul>
        </div>
      </nav>
</header><!-- fim header -->

